<button type="button"
        class="btn btn-outline-secondary dropdown-toggle{{if .}} show{{end}}"
        hx-include="closest .input-group"
        {{if .}}
        hx-get="resetCombo"
        hx-target="closest .input-group"
        hx-swap="outerHTML"
        {{else}}
        hx-get="showMenu"
        hx-target="closest .dropdown"
        hx-swap="innerHTML show:#activeItem:top"
        {{end}}
        />

{{if .}}
<ul class="dropdown-menu dropdown-menu-end show"
    x-data
    x-on:click.outside="$dispatch('click')"
    data-bs-popper="static"
    hx-include="closest .input-group"
    hx-target="closest .input-group"
    hx-swap="outerHTML">
  {{$active := .ActiveItem}}
  {{range .Items}}
  <li>
    <a class="dropdown-item{{if eq . $active}} active" id="activeItem{{end}}"
       href="#"
       hx-get="setCombo/{{.}}">
      {{.}}
    </a>
  </li>
  {{end}}
</ul>
{{end}}
