<form id="details">
  <div class="input-group">
    <span class="input-group-text">Name</span>
    <input type="text" class="form-control" readonly value="{{.}}">
  </div>
  <div class="input-group">
    <span class="input-group-text">Beschreibung</span>
    <input type="text" class="form-control" readonly value="Description-{{.}}">
  </div>
  <div class="input-group">
    <span class="input-group-text">Verantwortung</span>
    <input type="text" class="form-control" readonly value="Owner-{{.}}">
  </div>
</form>
