<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/htmx.min.js"></script>
    <title>HTMX Test</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <style type="text/css">
      body {
          min-height: 100vh;
      }
      main {
          height: 100vh;
          max-height: 100vh;
      }
      .scrollarea {
          overflow-y: auto;
      }
    </style>
  </head>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <!-- rembember selected service -->
            <input type="hidden" id="service" name="service"
                   value="{{.details.Service}}" />
            {{ template "table.html" .table }}
          </div>
          <div class="col-8">
            <!-- rembember if details or users are shown -->
            <input type="hidden" id="showUsers" name="showUsers" value="off" />
            <ul class="nav nav-underline"
                hx-target="#details"
                hx-include="#service">
              <li class="nav-item">
                <a class="nav-link"
                   hx-get="/showUsers/off">
                  Details zum Dienst
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   hx-get="/showUsers/on">
                  Benutzer (User) des Dienstes
                </a>
              </li>
            </ul>
            <div id="details">
              {{ template "details.html" .details }}
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
