<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div class="row">
      <ul class="nav nav-tabs col-auto bg-light px-2 h5">
        <li class="nav-item">
          <a class="nav-link active">
            Dienste, Freischaltungen
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            Eigene Netze
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            Diff
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            Berechtigungen
          </a>
        </li>
      </ul>
      <div class="input-group col mb-3">
        <span class="input-group-text">Stand</span>
        <input type="text" id="history" class="form-control"
               value="Heute">
        <button class="btn btn-outline-secondary dropdown-toggle"
                type="button">
        </button>
      </div>
      {{ template "combo.html" .OwnerComboParams }}
    </div>
  </div>
</nav>
