<div class="input-group col mb-3" id="ownersCombo">
  <span class="input-group-text">Owner</span>
  <input type="hidden" id="activeOwner" name="activeOwner"
         value="{{.ActiveOwner}}"/>
  <input type="text" name="searchOwner" class="form-control"
         value="{{.ActiveOwner}}"
         onclick="this.select()"
         hx-include="#ownersCombo"
         hx-get="showOwnersMenu"
         hx-trigger="input changed delay:500ms"
         hx-target="#ownersCombo .dropdown"/>
  <div class="dropdown">
    {{ template "owners-menu.html" }}
  </div>
</div>
