<!-- rembember selected service -->
<input type="hidden" id="service" name="service"
       value="{{.Details.Name}}" />
<div class="col d-flex flex-column mh-100">
  <ul class="nav nav-tabs bg-light px-2 h5"
    hx-target="#services"
    hx-include="#showUsers">
    <li class="nav-item">
      <a class="nav-link {{if eq "owner" .ServiceType}}active{{end}}"
         hx-get="/services/owner">
        Eigene
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{if eq "user" .ServiceType}}active{{end}}"
         hx-get="/services/user">
        Genutzte
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{if eq "visible" .ServiceType}}active{{end}}"
         hx-get="/services/visible">
        Nutzbare
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{if eq "search" .ServiceType}}active{{end}}"
         data-bs-toggle="modal" data-bs-target="#searchModal">
        Suche
      </a>
    </li>
  </ul>
  <div class="row flex-grow-1 overflow-auto">
    <div class="col d-flex flex-column">
      <div class="text-end bg-body p-2">
        {{len .ServiceList}} Dienste verfügbar
      </div>

      <div class="row overflow-auto border">
        <table class="table table-striped"
               hx-on::config-request="htmx.takeClass(
                                      event.detail.elt, 'table-active')">
          <tbody hx-target="#service-details"
                 hx-include="#showUsers">
            {{range $index, $element := .ServiceList}}
            <tr {{if eq $index 0}} class="table-active"{{end}}
                hx-get="/details/{{.}}">
              <td>
                {{.}}
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="service-details"
     class="col-8 d-flex flex-column mh-100">
  {{ template "service-details.html" .Details }}
</div>
